<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body class="index-home">
    <header class="brand-header">
        <img class="brand-logo" src="{{ url_for('static', filename='imagens/Group 3.png') }}" alt="Cosmo Home">
        <nav class="quick-actions">
            <a href="{{ url_for('aluno.aluno_entrar') }}" class="nav-link botao">Join</a>
            <a href="{{ url_for('professor.professor_dashboard') }}" class="nav-link botao">Professor Dashboard</a>
        </nav>
    </header>

    <div class="container">
        <div class="content">
            <section class="hero">
                <h1>Can you build a home to survive in space?</h1>
            </section>

            <section class="features-ring">
                <ul class="ring-items left">
                    <li class="ring-item">
                        <h3>Choose your destination</h3>
                        <p>Moon, Mars or Exoplanet. Where will your new home be?</p>
                    </li>
                    <li class="ring-item">
                        <h3>Build your habitat</h3>
                        <p>Which module? What will be your base’s focus?</p>
                    </li>
                </ul>
                <div class="ring-center">
                    <div class="ring-center-title">Build today the home of tomorrow</div>
                    <div class="ring-center-sub">Interactive Personalized Space Habitat Design</div>
                </div>
                <ul class="ring-items right">
                    <li class="ring-item">
                        <h3>Choose the spacecraft for your journey</h3>
                        <p>Which will take you and your team safely?</p>
                    </li>
                    <li class="ring-item">
                        <h3>Survive in space</h3>
                        <p>Make smart decisions and overcome challenges.</p>
                    </li>
                </ul>
            </section>

            <section class="bottom-banner">
                <h2>Don’t drift away! Build your place in the future</h2>
                <p>In each mission, you will design a habitat on Mars or beyond, balancing energy, resources and crew well-being. Make the best decisions and make history.</p>
            </section>
        </div>
    </div>
</body>
</html>
